*{
    /*border: 1px solid red;*/
}

body
{
    background-color: rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
}

nav
{
    background:linear-gradient(to bottom,rgb(0, 0, 0),rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6));
    box-shadow: 0px -2px 10px 13px rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    display: inline-flex;
    margin-top: -1.4rem;
    padding-left: 30rem;
    width: 100%;
    height: 7rem;
}

#cabecalho{
    display: flex;
    
}

#links
{
    color: rgb(255,255,255);
    display: inline-block;
    font-family: Arial;
    width: 10%;
    margin-top: 1.5rem;
    padding-inline:3.5vw;
    cursor:pointer;
    padding-top: 1.5rem;
}


#links:hover
{
    transform: scale(1.4);
}

#fundo
{
    width: 100%;
    height: 410px;
    margin-left: 0px;
    margin-right: 0px;
}

#logo
{
    height: 50px;
    width: 50px;
    margin-top: 3rem;
    margin-right: -1.7rem;
}

#carrossel img
{
height: 40rem;
width: 75rem;
margin-left: 22rem;
margin-top: 10rem;
box-shadow: 0px 0px 15px 15px rgba(0, 238, 255,0.6);
border-radius: 2rem;

}

#carrossel
{
    
    height: 50%;
    width:100%; 
    margin:0%;
}

.ante
{
    left:15rem
}
.prox
{
    right:15rem
}
.ante, .prox
{
    font-weight: bold;
    font-size:6vw;
    text-align: center;
    display:inline;
    width: 4rem;
    color: rgb(255,255,255);
    position:absolute;
    top:45rem;
    cursor:pointer;
}
#descricao
{
   text-align: center;
   height: auto;
   font-size: 4vw;
   color: rgb(255, 255, 255);
   font-family: Impact;
   font-style:oblique;
}
.ante:hover, .prox:hover
{
    transition: .50s;
    background:rgba(0, 238, 255, 0.5);
    border-radius: 10%;
}

.textos
{
font-size: 2.5rcap;

}

#texto1
{
    margin-top: 13%;
    display: inline-flex;
    height: 120px;
    width: 80vw;
    font-size: 1.4vw;
    color: rgb(255, 255, 255);
    margin-left: 16vw;
    margin-bottom: 22%;
}
#texto1 img
{
    border-radius: 25px;
    height: 18vw;
    width: 27vw;
    margin-left: 3vw;
    margin-top: -1vw;
    box-shadow: 0px 0px 6px 6px rgba(221, 221, 221, 0.6);
}

.titulo
{
    font-size: 2rem;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
}
#texto2
{
    display: inline-flex;
    height: 120px;
    width: 80vw;
    font-size: 1.4vw;
    color: rgb(255, 255, 255);
    margin-left: 15vw;
}
#texto2 img
{
    border-radius: 25px;
    height: 18vw;
    width: 28vw;
    margin-left: 1vw;
    margin-top: -1vw;
    box-shadow: 0px 0px 6px 6px rgba(221, 221, 221, 0.6);
}
#link1
{
    border:1px solid rgb(255, 255, 255);
    border-radius: 30px;
}
#link2
{
    border:1px solid rgb(255, 255, 255);
    border-radius: 30px;
} 

h1
{
    margin-top: 18rem;
    font-size: 3vw;
    color: white;
    text-align: center;
}
#parcerias img
{
    
    width: 14rem;
    height:14rem;
    padding-inline: 6vw;
}
#parcerias
{
    text-align:center;
}
#degrade
 {
    width:100%;
    height: 2.8rem;
    background:linear-gradient(to right, rgb(7, 238, 255),rgb(7, 238, 255),rgb(255, 0, 191), rgb(255, 0, 191), rgb(230, 255, 1),rgb(230, 255, 1));
    margin-top: 6rem;
 }
 

footer
{
    width: 100%;
    background-color: rgb(255,255,255);
    height: 25rem;
    margin-top: -7rem;
    margin-bottom:0%;
}

h3
 {
    font-size: 1.5rem;
    margin-top: 100px;
 }

#whats
{
    
    padding-left: 45rem;
   
}
#whats img
{
    height: 4rem;
    width: 4rem;
}

#endereco
{
    color:rgb(0, 0, 0);
    text-align: center;
    list-style: none;
    padding-top: 10px;
}

#icones
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 42vw;
    gap:2rem;
    margin-bottom: 0rem;
}

#email
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 41vw;
    font-size: 1.5rem;
    margin-top: 1%;
}

#email img
{
    width: 26px;
    height: 26px;

}

#horario
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 40.5vw;
    font-size: 1.5rem;
    margin-top: -10px;
}

#horario img
{
    width: 26px;
    height: 26px;

}

#telefone
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 38vw;
    font-size: 1.5rem;
    margin-top: -10px;
    gap: 10px;
}

#telefone img
{
    width: 26px;
    height: 26px;

}

#direitos
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 44vw;
    font-size: 1.5rem;
    margin-top: 30px;
    font-size: 1.2rem;
}
a
{
text-decoration: none;
color: white;
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(255, 255, 255)
}