body
{
    background-color: rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
}

.gradiente
 {
    width:100%;
    height: 1.85rem;
    background:linear-gradient(to right, rgb(7, 238, 255),rgb(7, 238, 255),rgb(255, 0, 191), rgb(255, 0, 191), rgb(230, 255, 1),rgb(230, 255, 1));
    margin-top: 0rem;
 }
 header
 {
     background:linear-gradient(to bottom,rgb(0, 0, 0),rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6));
     box-shadow: 0px -2px 10px 13px rgba(0, 0, 0, 0.6);
     width: 100%;
     position: fixed;
     display: inline-flex;
     margin-top: -2.1rem;
     padding-left: 26.6vw;
     width: 100%;
     height: 7rem;
     list-style: none;
 }

#cabecalho{
    display: flex;
    
}

#links
{
    color: rgb(255,255,255);
    display: inline-block;
    font-family: Arial;
    width: 10%;
    margin-top: 1rem;
    padding-inline:3.5vw;
    cursor:pointer;
    padding-top: 1rem;
}

#links:hover
{
    transform: scale(1.4);
}

#logo
{
    /*formatando a logo no cabeçalho
    posição e tamanho da imagem*/
    height: 50px;
    width: 50px;
    margin-top: 2.2rem;
    margin-right: -2.7rem;
    
}
#xis
{ /*x do menu hamburguer*/
    visibility: hidden;
    position:absolute;
    cursor:pointer;
}
#hambu
{   /*hamburguer do menu responsivo*/
    visibility: hidden;
    position:absolute;
    cursor:pointer;
}
/*menu hamburguer*/
#menuzinho
{   
    font-family:Georgia;
    visibility:hidden;
    height:2rem;
    cursor:pointer;
    transition: 0.5s height;
    position:fixed;
    margin-top:1.5rem;
    top:5rem;
    width:100%;
    text-align:center;
}

#menuzinho ul
{
    margin-top: 0rem;
    background-color: rgb(0, 0, 0);
    list-style:none;
    height: 9.5rem;
}
#menuzinho ul li
{
    padding-top: 1rem;
}
#menuzinho ul li a{
    color:rgb(255, 255, 255);
}

#menuzinho ul li:hover{
    transform: scale(1.2);
}
/*fim do menu hamburguer*/

a
{
    text-decoration: none;
    color: white;
}

h1
{
    font-size: 4rem;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    color: rgb(255, 255, 255);
    padding-top:1rem;
    text-align: center;
    margin-bottom: 4rem;
}
.card
{
    width: 300px;
    height: 400px;
    background-color: rgb(0, 0, 0); 
    display: inline-block;
    margin-left: 10vw;
    border: 7px solid rgb(255, 255, 255);
    margin-bottom: 5vw;
    border-radius: 30px;
    margin-left:13vw ;
    margin-top: 3vw;
}
.imgcard
{
    width: 100%;
    height: 220px;
    border-radius: 20px 20px 0px 0px;
}
#btn
{
    padding-left: 4rem;
    width: 78.5%;
    height: 50px;
    margin-top: 72px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#btn:hover
{
    animation: efeito 1s infinite;
}
#descricao
{
    padding-left: 8px;
}
@keyframes efeito {
    0%    { opacity: 0; }
  20%   { opacity: 1; }
  80%   { opacity: 0; }
  100%  { opacity: 1; }
    
}


.produtos img
{
    display:flex;
    width:20rem;
    height: 14rem;
    border-radius: 35px 35px 00px 0px;
}
  

.titulo1
{
    color: white;
    font-size: 1.7rem;
    padding-left: 2rem;
}
.titulo2
{
    color: white;
    font-size: 1.7rem;
    padding-left: 1rem;
}
.titulo3
{
    color: white;
    font-size: 1.7rem;
    padding-left: 5rem;
}
.titulo4
{
    color: white;
    font-size: 1.7rem;
    padding-left: 4.6rem;
    
}
.saibaMais:hover
{
    transition: .50s;
    background-color:rgb(255, 0, 191);
    border-radius: 0px 0px 30px 30px;
}
h2
{
    color: white;
    font-size: 1.7rem;
    padding-left: 18px;
}
.saibaMais
{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    padding-left: 50px;
    border:1px solid white;
    border-radius:  0px 0px 20px 20px;
    margin-bottom: 20px;
}

#degrade
 {
    width:100%;
    height: 2.8rem;
    background:linear-gradient(to right, rgb(7, 238, 255),rgb(7, 238, 255),rgb(255, 0, 191), rgb(255, 0, 191), rgb(230, 255, 1),rgb(230, 255, 1));
    margin-top: 0rem;
 }
 

footer
{
    width: 100%;
    background-color: rgb(255,255,255);
    height: 25rem;
    margin-top: -7rem;
    margin-bottom:0%;
}

#endereco
{
    color:rgb(0, 0, 0);
    text-align: center;
    list-style: none;
    padding-top: 10px;
    font-size: 1.5rem;
    margin-top: 100px;
    padding-left: 5.5vw;
}

#icones
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 39.8vw;
    gap:2rem;
    margin-bottom: 0rem;
}

#whats:hover
{
    background-color:rgba(37, 211, 101, 0.8);
    border-radius:2.5rem 2.5rem 2.5rem 0rem;
}

#face:hover
{
    background-color:rgb(66, 103, 178, 0.8);
    border-radius:2.5rem;
}

#insta:hover
{
    background: linear-gradient(to top left, rgba(252, 175, 69, 0.8), rgba(247, 119, 55, 0.8), rgba(225, 48, 108, 0.8), rgba(193, 53, 132, 0.8), rgba(131, 58, 180, 0.8), rgba(88, 81, 216, 0.8));
    border-radius: 1rem;
}
#linke:hover
{
    background-color: rgba(2, 116, 179, 0.5);
    border-radius: 0.5rem;
}
#email
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 41vw;
    font-size: 1.5rem;
    margin-top: 1%;
}

#email img
{
    width: 26px;
    height: 26px;

}

#horario
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 40.5vw;
    font-size: 1.5rem;
    margin-top: -10px;
}

#horario img
{
    width: 26px;
    height: 26px;

}

#telefone
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 38vw;
    font-size: 1.5rem;
    margin-top: -10px;
    gap: 10px;
}

#telefone img
{
    width: 26px;
    height: 26px;

}

#direitos
{
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin-left: 44vw;
    font-size: 1.5rem;
    margin-top: 30px;
    font-size: 1.2rem;
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(255, 255, 255)
 }

@media(max-width: 1700px)
{
    .card
    {
        margin-left:11vw ;
    }
}

    /*Aplicando Responsividade ao Footer*/  
@media(max-width: 1000px)
{
    header{
        background-color:rgb(0, 0, 0);
        height:8rem
    }

    header ul{
        visibility:hidden;
    }

    #hambu{
        visibility:visible;
        height: 60px;
        width: 60px;
        margin-left: 20vw;
        margin-top: 2.5rem;
    } 
    #logo
    {   
        
        height: 60px;
        width: 60px;
        margin-top: 2.5rem;
        margin-left: -22rem;
        
    }
    #xis
    {
        height: 60px;
        width: 60px;
        margin-left: 20vw;
        margin-top: 2.5rem;
    }
    h3
    {
       margin-left:0vw;
    }
    #icones
    {
        margin-left: 28vw;
    }
    #email
    {
        margin-left: 31vw;
    }
    #horario
    {
        margin-left: 31vw;
    }
    #telefone
    {
        margin-left: 24vw;
    }
    #direitos
    {
        margin-left: 39vw;
    }
}
@media(max-width: 600px)
{
    #logo
    {
        /*formatando a logo no cabeçalho
        posição e tamanho da imagem*/
        height: 60px;
        width: 60px;
        margin-top: 2.5rem;
        margin-left: -20rem;
        
    }
    #xis
    {
        margin-left: 2rem;
    }
    #hambu
    {
    margin-left: 2rem;
    }
    h3
    {
       margin-left:0vw;
       font-size: 4vw;
    }
    #icones
    {
        margin-left: 3rem;
    }
    #email
    {
        margin-left: 4rem;
    }
    #horario
    {
        margin-left: 4rem;
    }
    #telefone
    {
        margin-left: 2rem;
    }
    #direitos
    {
        margin-left: 9rem;
    }

}
/*Fim da Responsividade ao Footer*/ 
